@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;

}

.sidebar {
    background-color:rgb(177, 172, 172);
    width: 30vw;
    height: 100vh;
}

.main {
    /* background-color: yellow; */
    width: 123vw;
    background-image: url(" coder.jpg");
    background-repeat: no-repeat;
    
    background-size: 100%;
    

}

.container {
    display: flex;
    font-family: 'AvrileSerifRegular';
    
}

.sidebar nav {
    padding: 30px;

}

.sidebar nav li {
    list-style: none;
    font-size: 20px;
    padding: 25px 0px;
}
.sidebar nav li a{
    text-decoration: none;
    color: black;
}
.infocont{
    /* background-color: blue; */
    height: 70vh;
    width: 72vw;
    margin: 80px auto 80px auto;
    display: flex;
    justify-content: space-around;
    color: white;
    
}
.pic img
{
    width: 258px;
    height: 57vh;
    
}
/* .infocont .pic img{
    float: right;
} */
.info
{
    flex-direction: column;
    display: flex;
    justify-content: center;
    font-family: 'Source Code Pro', monospace;
}
.hello{
    font-size: 43px;
}
.name
{
    font-size: 35px;
    font-weight: bold;
    font-family: 'AvrileSerifRegular';
    
}

.about
{
    font-size: 28px;
}
.moreabout
{
    font-size: 14px;
    font-family: 'AvrileSerifRegular';
    padding-top: 18px;
    padding-right: 326px;
}
.buttons
{
    padding-top: 20px;
}
.buttons button{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(177, 172, 172);
    font-weight: bold;
    font-size: 12px;
    margin: 0px 5px;
    cursor: pointer;
    text-decoration: none;
}
.buttons button:hover{
    background-color: rgb(28, 104, 218);
    color: white;
}
.buttons button a{
    text-decoration: none;
    color: black;
}
